.description-list {
  word-break: break-all;
  .label {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 16px;
    margin-right: 8px;
    white-space: nowrap;
    display: table-cell;
    &:after {
      content: ':';
      margin: 0 8px 0 2px;
      position: relative;
      top: -0.5px;
    }
  }
  .value {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 16px;
    color: #5a5a5a;
    display: table-cell;
  }
}
